.sidebar-logo {
      padding: 1.5rem;
}
  
.sidebar-logo img {
      border-radius: 60%;
      -moz-border-radius: 60%;
      -webkit-border-radius: 60%;
      width: 160px;
      margin: 10px;
      border:10px solid red;
}

